
MONGODB_URI=mongodb://localhost:27017/realestate

PORT=3002
NODE_ENV=development

CLOUDINARY_URL=cloudinary://797456578194668:kWjio2aJbto2EGzvLzLFc3oPJoM@dl3nr94hx
CLOUDINARY_CLOUD_NAME=dl3nr94hx
CLOUDINARY_API_KEY=797456578194668
CLOUDINARY_API_SECRET=kWjio2aJbto2EGzvLzLFc3oPJoM

JWT_SECRET=keysofchrist!

LOG_LEVEL=info
